<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Property at Index {{index}}</h2>
    <p><strong>ID:</strong> {{record.id}}</p>
    <p><strong>Name:</strong> {{record.NAME}}</p>
    <p><strong>Neighbourhood:</strong> {{record.neighbourhood}}</p>
    <p><strong>Price:</strong> {{record.price}}</p>
    <img src="{{record.thumbnail}}" width="250" alt="Property Image">
</body>
</html>